{% extends 'squirrels/base.html' %}
  
{% load static %}

{% block title %}{% endblock %}

{% block main %}

<head>
        <h1 class="Sightings">Welcome to the Squirrel Sighting Website</h1>
        <h2 class="Sightings">{{ squirrel.Unique_Squirrel_ID }} </h2>

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
        <div class="col-md-8">
          <div class="card mb-8 shadow-sm">
             <p class="card-text">
                <div class="squirrel-id">
                        <ul>
	    <li><a href="{% url 'map' %}">Map</a></li>
            <li><a href="{% url 'add' %}">Add a Sighting</a></li>
                {% for squirrel in Squirrels %}
                <li><a href="{{ squirrel.Unique_Squirrel_ID }}">{{ squirrel.Unique_Squirrel_ID }}</a></li>
                {% endfor %}
        </ul>


                </div>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block extra_footer %}
  <script>
    function csrfSafeMethod(method) {
      // these HTTP methods do not require CSRF protection
      return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    var csrftoken = $("[name=csrfmiddlewaretoken]").val();
    $.ajaxSetup({
      beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
          xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
      }
    });
  </script>
{% endblock %}
