<!doctype html>
<html lang="en">
  <head>
    <h1 class="Sightings">Here are some Squirrel Stats: How many are...</h1>
      <title>Sighting Stats</title>
      <style>
      table, td, th { 
      padding: 10px; 
      border: 2px solid #1c87c9;
      border-radius: 5px;
      background-color: #e5e5e5;
      text-align: center;
      }
    </style>
    </head>
        <body>
          <table>
            <tr>
              <th>Running</th>
              <th>Chasing</th>
              <th>Climbing</th>
              <th>Approaches</th>
              <th>Forages</th>
                <tr>
 
                  <td>{{ Running }}</td>
                  <td>{{ Chasing }}</td>
                  <td>{{ Climbing }}</td>
                  <td>{{ Approaches }}</td>
                  <td>{{ Foraging }}</td>

                </tr>

          </table>
        </body>
